__pycache__
*.pyc
.git
.gitignore
*.ipynb
train_sample_videos/
prepared_dataset/
split_dataset/
tmp_debug/
tmp_fake_faces/
tmp_checkpoint/best_model.h5
00-*.py
01-*.py
02-*.py
03-*.py
LICENSE
App/diag_log.txt
App/uploads/
